body {
    background: #f6f6f6;
}

@media screen and (max-width :550px) {

#container {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
}

 #separator img {
    width: 100% !important;
    rotate: 90deg !important;
}   

    #categorie {
    width: 80% !important;
}
    
}

#categorie {
    background: #f6f6f680;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #10101080;
    margin:21px  auto;
    transition : width 500ms;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#separator {
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
}

#separator img {
    width: 100%;
    transition: rotate 500ms;
    rotate: 0deg;
}