#displaybox {
    z-index: 9;
    position: fixed;
    height: 0%;
    width: 0%;
    background: #ffffff00;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #ffffff00;
    translate: -50% 50%;
    left: 50%;
    bottom: 50%;
    transition: all 0.5s ease;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
        text-align: center;
}

#displaybox.active {
    z-index: 9;
    position: fixed;
    height: 70%;
    width: 60%;
    background: var(--element-background-default);
    border-radius: 10px;
    box-shadow: var(--element-shadow3) , var(--element-shadow3);
    translate: -50% 50%;
    left: 50%;
    bottom: 50%;
    transition: all 500ms ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 20px; */
    color: white;
    font-weight: bold;
    flex-direction: column;
    font-family: leelawadee, Arial;
    font-size: 30px;
    text-shadow: var(--font-shadow);
    backdrop-filter: blur(3px);
    color: var(--font-color-default2);
}

#displaybox.discover {
    z-index: 9;
    position: fixed;
    height: calc(100vh - 25%);
    width: calc(100% / 1.5);
    background: var(--element-background-default);
    border-radius: 10px;
    box-shadow: var(--element-shadow);
    translate: -50% 50%;
    left: 50%;
    bottom: 50%;
    transition: all 500ms ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    flex-direction: column;
    font-family: leelawadee, Arial;
    font-size: calc(var(--doc-width) / 50);
    text-shadow: var(--font-shadow);
    backdrop-filter: blur(3px);
    color: var(--font-color-default2);
}

#displaybox.discover2 img {
    scale: 1;
    background: #ffffffd9;
    padding: 10px;
}

#displaybox.discover2 button {
    scale: 1;
    position : fixed;
}

#displaybox.discover2 span {
    transform: translate(0px, 0px);
    opacity: 100%;
    color: #17a3ff;
    color: var(--font-color-default2);
}

#displaybox img {
    filter: drop-shadow(4px 7px 6px #10101060);
    scale: 0;
    transition: scale 500ms , border-radius 700ms , height 500ms;
    height: calc(var(--doc-height) - 75vh);
}

#displaybox.active img {
    scale: 1;
}


#displaybox button {
    height: 50px;
    /* width: 100px; */
    z-index: 1;
    border: 0px;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms , scale 500ms;
    background: var(--element-accent-default);
    color: white;
    font-family: leelawadee , Arial;
    font-size: 20px;
    padding: 8px 21px;
    box-shadow: 3px 4px 6px #10101060;
    text-shadow: 2px 2px 6px #00000080;
    font-weight: 550;
    /* background: #ffd406; */
    letter-spacing: 0.07rem;
    backdrop-filter: blur(1px);
    /* background: #0f63ff00; */
    scale: 0;
}


#displaybox button:hover {
    background: var(--element-accent2);
    scale : 1.1 ! important;
}
#displaybox.active button {
    scale: 1;
    position : fixed;
}

#displaybox span {
    transform: translate(0px, 100px);
    opacity: 0%;
    transition: opacity 600ms, transform 600ms;
    overflow: auto;
    max-width: 100%;
}

#displaybox.active span {
    transform: translate(0px, 0px);
    opacity: 80%;
    color: black;
}

#displaybox.active-info {
    z-index: 9;
    position: fixed;
    height: 30%;
    width: 30%;
    background: var(--element-background-default);
    border-radius: 10px;
    box-shadow: 1px 2px 4px 0px var(--element-accent-default), 0px 0px 2px 0px var(--element-accent-default);
    translate: -50% 50%;
    left: 50%;
    bottom: 50%;
    transition: all 500ms ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-size: 20px; */
    color: white;
    font-weight: bold;
    flex-direction: row;
    font-family: leelawadee, Arial;
    font-size: 30px;
    text-shadow: 2px 2px 6px #00000080;
}

#displaybox.active-info img {
    scale: 1;
}

#displaybox.active-info button {
    scale: 1;
    position : fixed;
    background: var(--element-accent-default);
}

#displaybox.active-info span {
    transform: translate(-50px, 0px);
    opacity: 80%;
}

#displaybox.discret {
    height: 10vh;
    width: 20%;
    background: var(--accent-default);
    display: flex;
    flex-direction: row;
    gap: 21px;
    translate: unset;
    left: 21px;
    bottom: 21px;
    padding: 10px 21px;
    font-size: 16px;
    justify-content: flex-start;
}

#displaybox.discret span {
    transform: unset;
    opacity : 1;
    scale : 1;
    color: white;
    font-family: Arial;
}

#displaybox.discret img {
    height: 80%;
    width: auto;
    scale: 1;
}

#displaybox.discret button {
    font-size: 12px;
    padding: 0px 0px;
    height: 0px;
    scale: 1;
    bottom: 18px;
    right: 13px;
    position: absolute;
}