#ContextMenu {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(0px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 16px, rgba(0, 0, 0, 0.24) 0px 16px 16px;
    border-radius: 20px;
    border: unset;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow: auto;
    height: 0;
    width: 0;
    padding: 0;
    color: var(--font-color-default2);
}

#ContextMenu button {
    background: transparent;
    border: unset;
    font-size: 15px;
    font-weight: bold;
    font-family: Leelawadee Ui,Arial;
    border-radius : 12px;
    transition: background 500ms, color 500ms, scale 500ms, height 500ms , padding 500ms;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    scale : 0;
    height: 0;
}

#ContextMenu button img {
    height: 25px;
    margin-right: 10px;
}

#ContextMenu button:hover {
    background: var(--animation-light);
    color : white;
    border: unset;
    font-size: 15px;
    font-weight: bold;
    font-family: Leelawadee Ui,Arial;
}

#ContextMenu button span {
    min-width: 60px;
}

#ContextMenu.active button {
    scale : 1;
    padding: 4px 0px 4px 0px;
    margin-top: 4px;
    height : auto;
    color: var(--font-color-default2);
}

#ContextMenu.active button:hover {
    scale: 1.05;
    background : var(--element-accent2);
    color: var(--font-color-default2);
}

#ContextMenu.active {
    padding: 8px 10px;
    height: unset;
    width: unset;
}

#ContextMenu.active button.hidden {
    scale: 0;
    height: 0;
    padding: 0;
    margin: 0;
    transition : all 0ms;
}